<!DOCTYPE tei2html.config [

    <!ENTITY rdquo      "&#x201D;">
    <!ENTITY raquo      "&#187;">
    <!ENTITY bdquo      "&#8222;">

]>
<tei2html.config>
    <text.abbr>d.w.z.; b.v.; d.i.; i.d.; n.l.; c.M.; z.g.; m.m.; m.M.; N.B.; Z.g.</text.abbr>

    <pg.compliant>false</pg.compliant>

    <xref.show>always</xref.show>
    <xref.table>false</xref.table>

    <images.scale>0.5</images.scale>
    <images.maxSize>256</images.maxSize>
    <images.maxWidth>720</images.maxWidth>
    <images.maxHeight>720</images.maxHeight>

    <text.quotes>&raquo;&rdquo;&bdquo;&rdquo;</text.quotes>

</tei2html.config>